$primary: #08323D;
$secondary: #D5FD05;
$success: #00d876;
$danger: #FF0000;
$warning: #FFA500;

$text-color: #333;
$background-color: #f0f0f0;

$font-primary: 'Arial, sans-serif, roboto';

$font-size-base: 16px;

$spacer: 2px;



$border-radius: 4px;
$border-weight: 1px solid;